<a href="https://colab.research.google.com/github/KimDoYoung1124/AI-STUDY/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 설치 : pip install pandas
---
* 생성
  - Series : 인덱스와 값으로 구성, 행인덱스 라벨
      - 리스트로 생성, Dict를 변환
  - DataFrame : 다수의 Series를 모아 처리 
  - 관련함수 : rename, set_index, reset_index, name, index.name
---

In [1]:
# Series 생성
import pandas as pd

# - 리스트로(index는 옵션)
s = pd.Series([9679771, 3395514, 2942307, 2421859], index=['서울', '부산', '인천', '대구'])
print(s)
print(s.index)
print(s.values)

#  - Dict를 변환
d = {'서울':'특별시',
     '부산':'광역시',
     '인천':'광역시',
     '대구':'광역시'
     }
t = pd.Series(d)
print('==========================================')
print(t)
print(t.index)
print(t.values)

서울    9679771
부산    3395514
인천    2942307
대구    2421859
dtype: int64
Index(['서울', '부산', '인천', '대구'], dtype='object')
[9679771 3395514 2942307 2421859]
==========================================
서울    특별시
부산    광역시
인천    광역시
대구    광역시
dtype: object
Index(['서울', '부산', '인천', '대구'], dtype='object')
['특별시' '광역시' '광역시' '광역시']

In [11]:
# DataFrame 생성
import numpy as np

df = pd.DataFrame(data=np.array([[1,2,3],[4,5,6],[7,8,9]]), 
                  index=[2,'A',4], columns=[48, 49, 50])
print(df)
print('============ df.loc[\'A\']) ==================')
print(df.loc['A'])
print('============= df.iloc[2] ===================')
print(df.iloc[2])
print(type(df.iloc[2]))

   48  49  50
2   1   2   3
A   4   5   6
4   7   8   9
============ df.loc['A']) ==================
48    4
49    5
50    6
Name: A, dtype: int64
============= df.iloc[2] ===================
48    7
49    8
50    9
Name: 4, dtype: int64
<class 'pandas.core.series.Series'>

In [14]:
# Series를 DataFrame으로
a = pd.DataFrame(df.iloc[2])
print(a)
print(type(a))

    4
48  7
49  8
50  9
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# 이름부여 : name, index.name
s.name = '인구'
s.index.name = '도시'
#s.columns.name = '도시별 인구'

---
* 추가, 삭제, 변경
  - name, index.name, add, drop, drop_duplicate, replace
---

In [ ]:
print(s)
print('======================')
print(t)

서울    9679771
부산    3395514
인천    2942307
대구    2421859
dtype: int64
======================
서울    특별시
부산    광역시
인천    광역시
대구    광역시
dtype: object

In [ ]:
# Series 합치기
all = pd.concat([s, t], axis=1) # 행
print(all)

allc = pd.concat([s, t])  # 열, axis = 0 이 디폴트
print('======================')
allc

          0    1
서울  9679771  특별시
부산  3395514  광역시
인천  2942307  광역시
대구  2421859  광역시
======================

서울    9679771
부산    3395514
인천    2942307
대구    2421859
서울        특별시
부산        광역시
인천        광역시
대구        광역시
dtype: object

* 초기화 관련 함수?

* 연산
  - Series 연산 : Dict와 유사
  - sort_values(정렬)

In [ ]:
s = s/100
s

도시
0    10.0
1     5.0
2     5.5
3     2.7
Name: 인구, dtype: float64

* 선택 및 탐색 : 슬라이싱, iloc, loc, 마스킹, items

In [ ]:
s[1:3]

도시
1    5.0
2    5.5
Name: 인구, dtype: float64

* 브로드케스팅

* NaN, Null

* 함수 1 
  - mean(평균), count(결측값 제외), sum, std(표준편차), var(분산), median(중앙값), min, max, groupby, aggregate, filter, get_group, apply
  - pivot_table

* 함수
  - head, tail, sample, info, describe, isna, corr

* map, apply

* 저장, 불러오기